# Miscellaneous
firebase_options.dart
*.class
*.log
*.pyc
*.swp
*.jks
*.env
*.properties
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
.metadata

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
.gradle/
local.properties
/mobile/android/app/debug
/mobile/android/app/profile
/mobile/android/app/release

# iOS related
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
xcuserdata/
