# Flutter build outputs
/build/
.android/
.ios/
flutter_*

# Gradle-specific
.gradle/
build/
*.iml

# IDEs
.idea/
*.log
*.lock

# Keystore and signing
key.properties
**/*.jks
**/*.keystore

# Local configuration
local.properties

# Misc
.DS_Store
.env
*.bak
GeneratedPluginRegistrant.java

# Android emulator screenshots, videos, etc.
/captures/

# Gradle Wrapper binary files
gradlew
gradlew.bat
gradle-wrapper.jar
